<footer class="container">
    <div class="row pt-3">
        <ul class="col col-4 list-reset">
            <li class=""><a href="">Women</a></li>
            <li class=""><a href="">Men</a></li>
            <li class=""><a href="">Kids</a></li>
        </ul>
        <ul class="col col-4 list-reset">
            <li class=""><a href="">Shipping</a></li>
            <li class=""><a href="">Payment</a></li>
            <li class=""><a href="">Returns</a></li>
        </ul>
        <ul class="col col-4 list-reset">
            <li class=""><a href="">Terms of service</a></li>
            <li class=""><a href="">Privacy policy</a></li>
            <li class=""><a href="">About us</a></li>
        </ul>
    </div>
</footer>
