<nav class="container">
  <div class="row pt-4 flex justify-between items-center">
    <h3 class="col col-8 text-bold text-caps"><a href="/">Apparel</a></h3>
    <ul class="row col col-4 list-reset flex justify-end">
      <li class="col col-4">
        <a href="/cart" class="flex items-center">
          <ion-icon name="bag-outline" class="pr-2 pb-2"></ion-icon>
          Cart</a
        >
      </li>
      <% if(!currentUser) {%>
      <li class="col col-4 text-center"><a href="/login">Log in</a></li>
      <li class="col col-4 text-center"><a href="/register">Register</a></li>
      <% } else {%> <% if (currentUser.isAdmin) { %>

      <li class="col col-4 text-center">
        <a href="/admin/products">Admin panel</a>
      </li>
      <% } %>
      <li class="col col-4 text-center"><a href="/logout">Logout</a></li>
      <% } %>
    </ul>
  </div>
  <div class="row flex justify-end">
    <ul class="row col col-12 list-reset flex justify-center">
      <li class="col col-2 text-bold text-caps text-center">
        <a href="/?productCollection=Women">Women</a>
      </li>
      <li class="col col-2 text-bold text-caps text-center">
        <a href="/?productCollection=Men">Men</a>
      </li>
      <li class="col col-2 text-bold text-caps text-center">
        <a href="/?productCollection=Kids">Kids</a>
      </li>
    </ul>
  </div>
</nav>
